body{
	background-color: #e8e3e2;
}
header{
	background-color: white;
}
img{
	width: 150px;
	height: 150px;
	border: solid black;
	border-radius: 30px;
}
h3{
	color: #979797;
}
.icono{
	color: black;
	font-size: 28px;
	margin-right: 10px;
	margin-left: 4px;
}
.icono:hover{
	color:#5698f7;
}
/* SECTION ABOUT ME */
.aboutMe{
	background-color: #fff;
	width: 70%;
}
.information{
	background-color: #fff;
	height: auto;
}

.information ul li{
	margin-bottom: 10px;
	list-style: none;

}
.information ul li:hover{
	color: #5698f7;

}
/* SECTION ABOUT ME */

.skills{
	background-color: #fff;
}