nav {
	background-color: black;
	
}

.nav-link, .navbar-brand, .navbar-toggler {
	color: white !important;
}

.nav-link:hover, .navbar-brand:hover {
	color: cornflowerblue !important;
}

.icono{
	color: white;
	font-size: 28px;
	margin-right: 10px;
	margin-left: 4px;
}
.icono:hover{
	color:cornflowerblue;
}



#logo{
	animation-duration: 3s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  }

.header-test {
	height: 92vh;
	background-color: black;
	color: white;
}

.header-about {
	margin-top: 50px;
	height: 12vh;
}
.text-about {
	height: 45vh;
	padding-top: 30px;
}

.header-test1 {
	height: 92vh;
	background-color: rgba(255, 255, 255, 0.8);
	color: black;
}

.card:hover {
	border: 2px solid cornflowerblue !important;
	cursor: pointer;
}

footer{
	background-color: #000;
	color: cornflowerblue;
}


@media (max-width: 800px)
{
	.header-test1 {
		height: auto;
	}

	.header-test {
		height: auto;
		overflow: hidden;
	}

	.header-about {
		/*margin-top: 50px;*/
		height: 12vh;
	}
	.text-about {
		height: 45vh;
		padding-top: 30px;
	}
	

}

@media (max-width: 	990px) {
	#logo {
		height: 180px;
	}
}
