body
{
    background-image: url(secret/fondo1.png);
    
}
.modal-header
{
    color: white;
    background-color: #44A128;
}

.secret-items
{
    background-color: rgba(68,161,40,0.5);
}

#panque-crew
{
    width: 300px;
    height: 300px;
}

@media (max-width: 800px)
{

    .video-youtube
    {
        width: 300px;
        height: 250px;
    }
    .img
    {
       margin-left: 50px;
    }


}